@page "{id:int}"
@model CoreEstate.Pages.ForSale.EditModel

@{
    ViewData["Title"] = "Update for sale property";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="icon-navigation">
    <a asp-page="./Index">
        <div class="icon-navigation-icon">
            <i data-fa-symbol="back-arrow" class="fa-solid fa-arrow-left"></i>
            <svg class="icon"><use href="#back-arrow"></use></svg>
        </div>
        <div class="icon-navigation-text">
            Back to property results
        </div>
    </a>
</div>

<div class="row">
    <ul class="nav nav-tabs" id="editTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="true">Details</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos-tab-pane" type="button" role="tab" aria-controls="photos-tab-pane" aria-selected="false">Photos</button>
        </li>
    </ul>
</div>

<br />

<div class="tab-content" id="editTabContent">
    <div class="tab-pane fade show active" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="ForSaleProperty.Price" class="form-label"></label>
                        <input asp-for="ForSaleProperty.Price" class="form-control" />
                        <span asp-validation-for="ForSaleProperty.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ForSaleProperty.IsFreehold" class="form-check-label"></label>
                        <input asp-for="ForSaleProperty.IsFreehold" class="form-check-input" />
                        <span asp-validation-for="ForSaleProperty.IsFreehold" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="ForSaleProperty.Id" />
                    <div class="form-group">
                        <label asp-for="ForSaleProperty.Name" class="form-label"></label>
                        <input asp-for="ForSaleProperty.Name" class="form-control" />
                        <span asp-validation-for="ForSaleProperty.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ForSaleProperty.Address" class="form-label"></label>
                        <input asp-for="ForSaleProperty.Address" class="form-control" />
                        <span asp-validation-for="ForSaleProperty.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ForSaleProperty.Description" class="form-label"></label>
                    <textarea asp-for="ForSaleProperty.Description" class="form-control"></textarea>
                    <span asp-validation-for="ForSaleProperty.Description" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="photos-tab-pane" role="tabpanel" aria-labelledby="photos-tab" tabindex="0">
        <h5>Upload property photos</h5>
        <br />
        <div class="col-md-4">
            <form action="/api/ForSalePhotosCollection" enctype="multipart/form-data" method="post">
                <input type="hidden" name="propertyId" value="@Model.ForSaleProperty.Id" />
                <div class="form-group">
                    <input type="file" name="files" class="form-control" multiple />
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
