html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
    font-weight: 600;
    color: #212529;
}

span {
    white-space: pre-line;
}

.btn-outline-primary {
    font-weight: 600;
    color: #212529;
    border-color: #6c757d;
}

.btn-outline-primary:hover {
    color: #FFFFFF;
    border-color: #6c757d;
    background-color: #6c757d;
}

.btn-outline-secondary {
    font-weight: 600;
    color: #212529;
    border-color: #D8618C;
}

.btn-outline-secondary:hover {
    color: #FFFFFF;
    border-color: #D8618C;
    background-color: #D8618C;
}

.top-nav-item {
    display: inline-block;
    margin: 0 16px;
    position: relative;
}

.top-nav-item {
    text-decoration: underline 0.15em rgba(216, 97, 140, 0);
    color: #212529;
    transition: text-decoration-color 300ms;
}

.top-nav-item:hover {
    text-decoration-color: rgba(216, 97, 140, 1);
}

.icon-navigation {
    width: 100%;
    float: left;
    margin-bottom: 24px;
}

.icon-navigation-icon {
    float: left;
}

.icon-navigation-text {
    float: left;
    margin-left: 8px;
}

.icon-navigation-text:hover {
    font-weight: 700;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}

.card-left {
    float: left;
    width: 50%;
    padding-right: 16px;
}

.card-right {
    float: left;
    width: 50%;
    padding-right: 16px;
}

#propertyPhotosCarousel {
    max-height: 598px;
    margin-bottom: 16px;
}