@page "{id:int}"
@model CoreEstate.Pages.ToRent.EditModel

@{
    ViewData["Title"] = "Update To Rent Property";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToRentProperty.Rent" class="form-label"></label>
                <input asp-for="ToRentProperty.Rent" class="form-control" />
                <span asp-validation-for="ToRentProperty.Rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToRentProperty.Despoit" class="form-label"></label>
                <input asp-for="ToRentProperty.Despoit" class="form-control" />
                <span asp-validation-for="ToRentProperty.Despoit" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ToRentProperty.Id" />
            <div class="form-group">
                <label asp-for="ToRentProperty.Name" class="form-label"></label>
                <input asp-for="ToRentProperty.Name" class="form-control" />
                <span asp-validation-for="ToRentProperty.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToRentProperty.Address" class="form-label"></label>
                <input asp-for="ToRentProperty.Address" class="form-control" />
                <span asp-validation-for="ToRentProperty.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToRentProperty.Description" class="form-label"></label>
                <input asp-for="ToRentProperty.Description" class="form-control" />
                <span asp-validation-for="ToRentProperty.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
