@page
@model CoreEstate.Pages.ToRent.IndexModel
@using CoreEstate.Models

@{
    ViewData["Title"] = "To rent properties";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form>
    <div class="row justify-content-between">
        <div class="col-auto">
            <div class="row align-items-center justify-content-end mb-3 ms-2 g-3">
                <div class="col-auto">
                    <label class="form-label mb-0">Address:</label>
                </div>
                <div class="col-auto">
                    <input asp-for="FilterAddress" type="text" class="form-control" />
                </div>
                <div class="col-auto">
                    <input type="submit" value="Filter" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row align-items-center justify-content-end mb-3 me-2 g-3">
                <div class="col-auto">
                    <select asp-for="SortOption" asp-items="Html.GetEnumSelectList<SortOption>()" class="form-select"></select>
                </div>
                <div class="col-auto">
                    <input type="submit" value="Sort" class="btn btn-outline-primary" />

                </div>
            </div>
        </div>
    </div>
</form>

@foreach (var item in Model.ToRentProperties)
{
    @await Html.PartialAsync("../Shared/_ToRentPropertyCard", item)
}

@section scripts
{
    <script>
        const PROPERTY_DESCRIPTION_LENGTH = 256;

        $(document).ready(function () {
            $('.propertyDescription').each(function () {
                var descriptionText = $(this).text()
                if (descriptionText.length > PROPERTY_DESCRIPTION_LENGTH) {
                    var lastSpace = descriptionText.indexOf(" ", PROPERTY_DESCRIPTION_LENGTH);
                    if (lastSpace > 0) {
                        $(this).text($(this).text().substring(0, lastSpace) + " ...");
                    }
                }
            });
        });
    </script>
}
